*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --main-nav-color: rgb(217, 217, 228);
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: url("./assets/placeholder.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0 3vw;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
