h2 {
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.card{
    background-color: #d46657;
    width: 320px;
    min-height: 200px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.008);
}
#container{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}